<fieldset data-pet-form-target="petTypeAdditionalFormField" data-pet="Cat" class="contents" hidden>
    <%= form.fields_for :pettable_params, @pet.pettable || Cat.new do |cat_fields| %>
    <div class=" my-5">
        <%= cat_fields.label :environment, 'Is your cat an indoor or outdoor cat?' %>
        <%= cat_fields.select :environment, 
            Cat.environments.keys.map  { |environment| [(underscore_to_slash(environment).titleize), environment] }, 
            { prompt: 'Please select an option'},
            class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full border-gray-400 focus:outline-blue-600 bg-white" %>
    </div>
    <% end %>
</fieldset>