<div class="my-5">
    <p class="font-bold">Breed</p>
    <p><%= @pet.pettable.breed %></p>
</div>
<div class="my-5">
    <p class="font-bold">Activity level</p>
    <p><%= @pet.pettable.activity_level.humanize %></p>
</div>