<div>
    <% @booking.pets.each do |pet| %>
    <%= image_tag pet.image.variant(:thumb), alt: pet.name, class: "w-24 h-24 rounded object-cover mb-0 mr-4" %>
    <%end%>
    <div class="my-5">
        <p class="font-bold"><%= list_items @booking.pets.map { |pet| pet.name }%></p>
    </div>
    <div class="my-5">
        <p class="font-bold">Drop off</p>
        <p><%= long_date @booking.start_date %></p>
    </div>
    <div class="my-5">
        <p class="font-bold">Pick up</p>
        <p><%= long_date @booking.end_date %></p>
    </div>
</div>