<p>
    Thanks for your booking request! Our team will review it and get back to you soon!
</p>
<p>
    Here are the details of your booking request:
</p>
<p>
    <strong>Booking for <%= list_items(@pets.map { |pet| pet.name }) %></strong>
</p>
<p>
    <strong>Drop off:</strong> <%= long_date @start_date %>
</p>
<p>
    <strong>Drop off:</strong> <%= long_date @start_date %>
</p>